.ItemContainer{
  background-color: #F6F6F6;
  margin-bottom: 3%;
  border-radius: 25px;
}

.TravelItem {
  display: flex;
  flex-direction: column;
  max-width: 265px;
  gap: 6%;
  padding: 10px;
}

#tripText{
}

#vaultButton{
    max-height: 40px;
    min-height: 40px;
    max-width: 125px;
    border-radius: 16px;
    background-color: #5D5D5D;
    color: white;
    border: none;
}
#vaultButton:hover{
    background-color: #E7436D;
    transition: 0.3s;
}