

.ItemContainer{
  background-color: #F6F6F6;
  margin-bottom: 3%;
  border-radius: 25px;
}

.TravelItem {
  display: flex;
  flex-direction: column;
  max-width: 265px;
  gap: 6%;
  padding: 10px;
}
#destinationIll{
  width: 100%;
  max-width: 250px;
  height: fit-content;
}
#description{
    font-size: 14px;
    line-height: 20px;
}
#buttonSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#vaultButton{
    min-height: 40px;
    min-width: 125px;
    border-radius: 16px;
    background-color: #5D5D5D;
    color: white;
    text-wrap: nowrap;
    border: none;
}
#vaultButton:hover{
    background-color: #E7436D;
    transition: 0.3s;
}
#socialSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#heart{
    width: 16%;
    height: fit-content;
    transition-duration: 0.3s;
}
#comment{
    width: 14%;
    height: fit-content;
}
.socialData{
    font-size: 12px;
}

@keyframes fadeKeyframe {
  from{
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
.fadeanime {
    animation: fadeKeyframe 300ms ease-in;
}
@keyframes fadeKeyframeOut {
  to{
    transform: scale(1);
    opacity: 0.5;
  }
  from {
    transform: scale(1.5);
    opacity: 0;
  }
}
.fadeOut {
    animation: fadeKeyframeOut 300ms ease-out;
}