.vaultItemContainer{
    border-radius: 20px;
    margin-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.868);
}

.vaultItemContainer:hover{
    box-shadow:inset 0px 0px 0px 1px #d1d1d1;
    background-color: #f7f7f7;
    transition: 0.3s;
}

.vaultItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
    
}

#savedText{
    color: #5D5D5D;
    min-width: 175px;
}

#x{
    width:10%;
}
