@font-face {
  font-family: 'Quadraat'; 
  src: url('typefaces/FF Quadraat Sans Mono Pro.otf'); 
}


.App {
  
}

h2 {
  font-family: 'Quadraat';
}


.App-header {
  display: flex;
  font-size: calc(6px + 2vmin);
  font-family: 'Quadraat';
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.travelContent{
  display: flex;
}

.destinationList{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  gap: 3%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 6%;
}

#vaultContainer{
  width: 30%;
  background-color: #5D5D5D;
  border-radius: 0 25px 0 0;
}
.vault{
  margin-left: 20%;
  margin-right: 10%;
}
#emptyText{
  color: white;
}
#vaultHeader{
  margin-top: 10%;
  color: white;
}

