@font-face {
  font-family: 'Quadraat Mono'; 
  src: url('typefaces/FF Quadraat Sans Mono Pro.otf'); 
}
@font-face {
  font-family: 'Quadraat Light'; 
  src: url('typefaces/FF Quadraat Sans Pro Light.otf'); 
}
@font-face {
  font-family: 'Good Sans Reg'; 
  src: url('typefaces/GoodSans-Regular.otf'); 
}
@font-face {
  font-family: 'Good Sans Light'; 
  src: url('typefaces/GoodSans-Light.otf'); 
}


h2 {
  font-family: 'Quadraat Mono';
  font-size: 28px;
}
h3 {
  font-family: 'Quadraat Light';
  font-size: 20px;
}
p {
  font-family: 'Good Sans Light';
  font-size: 16px;
}
button {
  font-family: 'Good Sans Reg';
  color: #313131;
}
select {
  font-family: 'Good Sans Reg';
  color: #313131;
}

.App{
  /* background-color: #F6F6F6; */
}

.App-header {
  display: flex;
  font-size: calc(6px + 2vmin);
  font-family: 'Quadraat Mono';
  color: #313131;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.travelContent{
  display: flex;
}

.destinationArea{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
}
#sortingBar{
  display: flex;
  justify-content: space-between;
  gap: 10%;
  margin-top: 1%;
  margin-bottom: 3%;
  margin-right: 4%;
}
.sortText{
  text-wrap: nowrap;
}
#filter, #sort, #reset{
  display: flex;
  align-items: center;
  gap: 5%;
}
#filterSection{
  display: flex;
  gap: 5%;
}
.filterButton{
  background-color: transparent;
  border: none;
  text-wrap: nowrap;
  font-size: 16px;
}
.filterButton:hover{
  color: #E7436D;
  text-decoration: underline;
  background-color: transparent;
  border: none;
}
.destinationList{
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  margin-bottom: 6%;
}

#vaultContainer{
  width: 30%;
  background-color: white;
  /* border-style: solid; */
  border-color: #d7d7d7;
  min-height: 715px;
  min-width: 200px;
  border-radius: 0 25px 0 0;
}
.vault{
  margin-left: 20%;
  margin-right: 10%;
}
#countUpdater, #emptyText{
  color: #5D5D5D;
}
#vaultHeader{
  margin-top: 10%;
  color: #5D5D5D;
}

